<ul class="proof-list">
  <li><img src="assets/mk/proof-kills.webp" alt=""><span>Kills 99.9%<br>on contact.</span></li>
  <li><img src="assets/mk/proof-clock.webp" alt=""><span>Up to four hours of protection per application.<sup>*</sup></span></li>
  <li><img src="assets/mk/proof-water.webp" alt=""><span>Water-<br>based.</span></li>
  <li><img src="assets/mk/proof-leaf.webp" alt=""><span>Alcohol-<br>free.</span></li>
  <li><img src="assets/mk/proof-feather.webp" alt=""><span>Non-<br>irritating.</span></li>
  <li><img src="assets/mk/proof-shield.webp" alt=""><span>Effective against COVID-19, MRSA, C. diff, E. coli.</span></li>
</ul>
